[req]
distinguished_name = req_dn
req_extensions = v3_req
prompt = no

[req_dn]
C = NG
ST = Lagos
O = InsurePortal Nigeria Ltd
CN = audit-trail.insureportal.ng

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = audit-trail.insureportal.ng
DNS.2 = audit-trail.insureportal-prod.svc.cluster.local
DNS.3 = audit-trail.insureportal-staging.svc.cluster.local
DNS.4 = localhost
IP.1 = 127.0.0.1
